:root {

    --background-color:white;
    --box-color: lightgray;
    --menu-text-color: white;
    --text-color:rgb(59, 59, 59);           /*apple-black*/
    --text-hover-color: rgb(218, 41, 28);   /*rogers-red*/
    --film-border-color: green;
    
    --body-color: #e3e3e3;                  /* apple-gray*/
    --menu-color: rgb(218, 41, 28);         /*rogers-red*/
    --tag-color: rgb(218, 41, 28);

    --global-font-size: 18px;
    --global-font-weight: 400;

}

body{
    background-color: var(--body-color);
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: var(--global-font-size);
    font-weight: var(--global-font-weight);
    margin: 0px;
    position: relative;
}

.menu-bar-container{
    position: sticky;
    z-index:5;
    top:0;
    left:0;
    margin: 0px 0px;
    padding: 0px 0px;
    width:100%;
    height:70px;
    /*border-bottom: 0.7px solid var(--text-color);*/
    box-shadow: 0px 0px 3px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--menu-color);
    

    .menu-bar{
        width:100%;
        max-width:980px;
        /*padding-left:22px;
        padding-right:22px;*/
        position: relative;
        display:flex;
        align-items: center;
        justify-content: space-between;
        
        a{
            text-decoration: none;
            color: var(--menu-text-color);

        }

        
    }
    
    .menu{
        padding-left:20px;
        padding-right: 20px;
        cursor: pointer;
        position: relative;
        display:flex;
        align-items: center;
        height:70px;

        .active{
            color: var(--menu-text-color);
            font-weight: bold;
        }
        
        a{
            text-decoration: none;
            color: var(--menu-text-color);

        }
    }
    
    .action{
        cursor: pointer;
        padding:10px;
        margin-left: 20px;;
        margin-right: 20px;
        border: 2px solid var(--text-color);
        border-radius: 10px;
        background-color: var(--text-color);
        color: var(--menu-text-color);
        display: flex;
        justify-self: flex-end;
    }
   
    
    .menu a:hover{
        color: var(--text-color);
    }
    .action:hover{
        background-color: var(--menu-color);
        color: var(--menu-text-color);
        border: 2px solid var(--menu-text-color);
    }

    

    .left-box, .right-box{
        display: flex;
        justify-content:center;
        align-items: center;
    }


}
.main-container{
    position: relative;
    /*max-width: 980px;*/
    width:100%;
    /*padding-left:22px;
    padding-right:22px;*/
    margin:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: var(--text-color);
    
    .options-container{
        position:relative;
        width:100%;
        max-width:450px;
        margin: auto;
        height:70px;
        display:flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 500;
        
        .active
        {
            color: var(--menu-text-color);
            background-color: var(--menu-color);
        }
        
        .options{
            
            a{
                text-decoration:none;
                color:var(--text-color);
                padding-left:20px;
                padding-right:20px;
                padding-top:8px;
                padding-bottom:8px;
                border-radius: 20px;
            }
        }
        
        
        
        .options:hover > a{
            color: var(--menu-text-color);
            background-color: var(--menu-color);
        }
    
    }
    .details-realestate{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .details-container{
            position:relative;
            width:100%;
            max-width:980px;
            background-color: var(--background-color);
            border-radius:20px;
            margin-left:20px;
            margin-right:20px;
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:center;
            
            .links{
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                padding: 20px 20px 20px 0px;
                
                button{
                    cursor:pointer;
                    padding:10px;
                    margin:5px;
                    border-radius:10px;
                    border:none;
                    font-size:var(--global-font-size);
                    font-weight:500;
                    background-color:green;
                    color:white;
                }
                
            }
            .details
            {
                padding:20px 0px 20px 20px;
                display:flex;
                flex-direction:column;
                justify-content: space-between;
                align-items:flex-start;
                
                .firstline
                {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    padding:5px;
                }
                .house-address{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    
                    .icons
                    {
                        display: flex;
                        font-size:48px;
                    }
                    .house-details
                    {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding-left:10px;
                        
                        .address
                        {
                            position: relative;
                            font-size:24px;
                            font-weight: bold;
                        }
                        .type{
                            position:relative;
                            font-size:16px;
                        }
                    }
                }
                .house-container
                {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    padding-top:10px;
                }
                .metrics-container
                {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin:5px;
                    padding:10px;
                    border-radius:10px;
                    background-color: var(--body-color);
                    
                    .metrics
                    {
                        position:relative;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        
                        font-weight:bold;
                        
                        .m-number{
                            padding-left:10px;
                        }
                    }
                    .m-title
                    {
                        position:relative;
                    }
                }
            }
        }
        
    }
    
    .pics-realestate
    {
        position: relative;
        /*margin-top: 20px;*/
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        .image-container{
            cursor:pointer;
            position:relative;
            width:500px;
            height:333px;
            border-radius:10px;
            overflow: hidden;
            margin:5px;
            
            
            img{
                position: relative;
                width:500px;
                height:333px;
                object-fit:cover;
            
            }
            
        }
        
        
    }
    .hometour-realestate
    {
        position: relative;
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .video-container{
            position:relative;
            width:100%;
            max-width:980px;
            
            .video{
                padding-left:20px;
                padding-right:20px;
            }
        }
    }

}
@media only screen and (min-width:1024px)
{
    .main-container
    {
        .details-realestate
        {
            .metrics
            {
                font-size:28px;
            }
        }
    }
}

@media only screen and (min-width: 650px) and (max-width: 1024px)
{
    body{
        font-size:16px;
    }
    .main-container{
        
        .pics-realestate{
            
            .image-container{
                width:300px;
                height:200px;
                
                img{
                    width:300px;
                    height:200px;
                }
            }
        }
        .details-realestate
        {
            .metrics
            {
                font-size:24px;
            }
        }
    }
    .menu-bar-container{
        height:60px;
        
        .action{
            padding:8px;
        }
    }
    
}
@media only screen and (max-width: 650px)
{
     body{
        font-size:16px;
    }
    .main-container{
        
        .pics-realestate{
            
            .image-container{
                position: relative;
                width:150px;
                height:100px;
                overflow: hidden;
                margin:5px;
                
                img{
                    position: relative;
                    width:150px;
                    height:100px;
                    object-fit:cover;
                }
            }
        }
        .options-container
        {
            height:50px;
            
            .options
            {
                
                a
                {
                    padding-left:10px;
                    padding-right:10px;
                    padding-top:5px;
                    padding-bottom:5px;
                    border-radius: 20px;
                    font-size:14px;
                }
            }
        }
        .details-realestate
        {
            .metrics
            {
                font-size:20px;
            }
        }
    }
    .menu-bar-container{
        height:60px;
        
        .action{
            padding:5px;
        }
    }
    
    
}
